<%- include('partials/header');  %>

<main class="flex flex-col shadow-2xl rounded-lg relative">
    <section class="flex-grow-0 text-center bg-purple-blue rounded-t-lg p-2">
        <button class="request_btn bg-indigo-100 px-3 py-1 rounded-full cursor-pointer transition-shadow duration-200 hover:shadow-md absolute top-2 right-2" id="btn_request">+</button>
        <span class="font-normal text-white text-lg">Cart</span>
    </section>

    <section class="flex-grow h-0 flex flex-col items-center overflow-scroll bg-blue-fade rounded-b-lg p-4 text-left">
        <!-- Pending Requests -->
        <% if (pending.length > 0) {%>
        <div class="text-left text-sm font-bold text-white text mt-4">Pending Requests</div>
            <% for (let x = 0; x < pending.length; x++) {%>
                <div class="bg-white w-full rounded-lg p-4 mt-3 shadow-md flex justify-between">
                    <div class="flex flex-col">
                        <% if (pending[x].docType == 1) {%>
                            <span class="font-bold text-sm text-semiblack">
                                Certificate Of Indigency
                            </span>  
                        <% } %>
                        <%if (pending[x].docType == 2) {%>
                            <span class="font-bold text-sm text-semiblack">
                                Certificate Of Residency
                            </span>  
                        <% } %>
                        <span class="font-thin text-xxs text-gray-400">
                            <span ><%= pending[x].date %></span>
                        </span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs text-yellow-400">Pending</span>
                    </div>
                </div>
            <% } }%>
            <!-- End Pending Requests -->
        <!-- Process Requests -->
        <% if (process.length > 0) {%>
        <div class="text-left text-sm font-bold text-white text mt-4">Processing Requests</div>
            <% for (let x = 0; x < process.length; x++) {%>
                <div class="bg-white w-full rounded-lg p-4 mt-3 shadow-md flex justify-between">
                    <div class="flex flex-col">
                        <% if (process[x].docType == 1) {%>
                            <span class="font-bold text-sm text-semiblack">
                                Certificate Of Indigency
                            </span>  
                        <% } %>
                        <%if (process[x].docType == 2) {%>
                            <span class="font-bold text-sm text-semiblack">
                                Certificate Of Residency
                            </span>  
                        <% } %>
                        <span class="font-thin text-xxs text-gray-400">
                            <span ><%= process[x].date %></span>
                        </span>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-xs text-blue-400">Processing</span>
                    </div>
                </div>
            <% } }%>
            <!-- End Process Requests -->

            <!-- For Pick Up Requests -->
            <% if (forPickup.length > 0) {%>
        <div class="text-left text-sm font-bold text-white text mt-4">For Pick Up Requests</div>
        <% for (let x = 0; x < forPickup.length; x++) {%>
            <div class="bg-white w-full rounded-lg p-4 mt-3 shadow-md flex justify-between">
                <div class="flex flex-col">
                    <% if (forPickup[x].docType == 1) {%>
                        <span class="font-bold text-sm text-semiblack">
                            Certificate Of Indigency
                        </span>  
                    <% } %>
                    <%if (forPickup[x].docType == 2) {%>
                        <span class="font-bold text-sm text-semiblack">
                            Certificate Of Residency
                        </span>  
                    <% } %>
                    <span class="font-thin text-xxs text-gray-400">
                        <span ><%= forPickup[x].date %></span>
                    </span>
                </div>
                <div class="flex flex-col">
                    <span class="text-xs text-gray-400">For Pick Up</span>
                </div>
            </div>
        <% } }%>
        <!-- End For Pick Up Requests Requests -->

         <!-- finished Requests -->
         <% if (finished.length > 0) {%>
         <div class="text-left text-sm font-bold text-white text mt-4">Finished Requests</div>
         <% for (let x = 0; x < finished.length; x++) {%>
             <div class="bg-white w-full rounded-lg p-4 mt-3 shadow-md flex justify-between">
                 <div class="flex flex-col">
                     <% if (finished[x].docType == 1) {%>
                         <span class="font-bold text-sm text-semiblack">
                             Certificate Of Indigency
                         </span>  
                     <% } %>
                     <%if (finished[x].docType == 2) {%>
                         <span class="font-bold text-sm text-semiblack">
                             Certificate Of Residency
                         </span>  
                     <% } %>
                     <span class="font-thin text-xxs text-gray-400">
                         <span ><%= finished[x].date %></span>
                     </span>
                 </div>
                 <div class="flex flex-col">
                     <span class="text-xs text-green-400">finished</span>
                 </div>
             </div>
         <% } }%>
         <!-- End finished Requests -->

         <!-- canceled Requests -->
         <% if (canceled.length > 0) {%>
         <div class="text-left text-sm font-bold text-white text mt-4">Canceled Requests</div>
         <% for (let x = 0; x < canceled.length; x++) {%>
             <div class="bg-white w-full rounded-lg p-4 mt-3 shadow-md flex justify-between">
                 <div class="flex flex-col">
                     <% if (canceled[x].docType == 1) {%>
                         <span class="font-bold text-sm text-semiblack">
                             Certificate Of Indigency
                         </span>  
                     <% } %>
                     <%if (canceled[x].docType == 2) {%>
                         <span class="font-bold text-sm text-semiblack">
                             Certificate Of Residency
                         </span>  
                     <% } %>
                     <span class="font-thin text-xxs text-gray-400">
                         <span ><%= canceled[x].date %></span>
                     </span>
                 </div>
                 <div class="flex flex-col">
                     <span class="text-xs text-red-400">canceled</span>
                 </div>
             </div>
         <% } }%>
         <!-- End finished Requests -->
        <!-- request section modal -->
        <div class="absolute top-0 left-0 h-full w-full border accent-slate-200  rounded-lg justify-center items-center request_container bg-trans hidden flex-col" id="modal_request">
            <div class="w-5/6 h-5/6 bg-white rounded-lg shadow-2xl flex flex-col p-4" id="requests">
                    <div class="flex-grow-0 flex items-center justify-end">
                            <i class="bi bi-x-square-fill text-xl text-red-500 cursor-pointer close_btn"></i>
                    </div>
                    <header class="flex-grow-0 flex items-center justify-center text-md mb-6">
                            <span class="font-bold">Request Document</span>
                    </header>
                    <main class="flex-grow h-0 flex flex-col items-center request-section">
                            <form class="flex flex-col w-4/5 h-4/5" id="request_document_form">
                                <main class="flex-grow-1 flex flex-col overflow-scroll">
                                    <span class="text-xs bg-green-400 text-white p-1 rounded-md text-center hidden" id="request_success">Request Created</span>
                                    <span class="text-xs bg-red-400 text-white p-1 rounded-md text-center hidden" id="request_error">Cannot Make Request</span>
                                    <label for="documentType" class="text-xs mt-6">Document Type</label>
                                    <select name="documentType" id="documentType" class="text-xs rounded-lg shadow-md p-2 cursor-pointer font-bold" required>
                                        <option value="1">Indigency</option>
                                        <option value="2">Residency</option>
                                    </select>

                                    <label for="dateNeeded" class="text-xs mt-6">Date Needed</label>
                                    <input type="date" name="dateNeeded" class="text-xs rounded-lg shadow-md p-2 cursor-pointer font-bold" id="dateNeeded" required>

                                    <label for="purpose" class="text-xs mt-6">Purpose</label>
                                    <textarea name="purpose" cols="30" rows="10" class="rounded-md shadow-md p-4 resize-none h-2/5" placeholder="Enter Text" id="purpose" required></textarea>
                                </main>
                                
                                <footer class="flex-grow-0 flex flex-col justify-center">
                                    <button class="bg-green-400 text-white font-bold text-xs rounded-md p-3" id="submit_request">Submit</button>
                                </footer>
                                
                                
                            </form>
                    </main>
                    <footer class="flex-grow-0">
                        
                    </footer>
            </div>
        </div>
    </section>
</main>

<footer></footer>
<!-- <script src="js/sendData.js"></script> -->
<!-- <script src="js/requestModal.js"></script> -->
<script src="js/request.js"></script>

<%- include('partials/footer');  %>
